[submodule "vendor/plugins/respond_to_parent"]
	path = vendor/plugins/respond_to_parent
	url = git://github.com/itkin/respond_to_parent.git
[submodule "vendor/plugins/dynamic_form"]
	path = vendor/plugins/dynamic_form
	url = git://github.com/rails/dynamic_form.git
[submodule "vendor/plugins/constant_in_db"]
	path = vendor/plugins/constant_in_db
	url = git://github.com/itkin/constants_in_db.git

[submodule "vendor/plugins/social_icons"]
	path = vendor/plugins/social_icons
	url = git://github.com/itkin/social_icons.git
[submodule "vendor/plugins/vimeo_for_everybody"]
	path = vendor/plugins/vimeo_for_everybody
	url = git://github.com/itkin/vimeo_for_everybody.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/sickill/exception_notification.git
[submodule "vendor/plugins/ordered_collection"]
	path = vendor/plugins/ordered_collection
	url = git://github.com/itkin/ordered_collection.git
