.DS_Store
db/*.sqlite3
log/*.log
tmp/**/*
.idea
public/system/**/*
vendor/bundle/**/*
public/stylesheets/application_all.css
public/stylesheets/admin_all.css
public/javascripts/application_all.js
public/javascripts/admin_all.js
