/* line 4, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6, ../../../app/stylesheets/partials/_page.sass */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 68, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 70, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 22, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 26, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 30, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 81, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 83, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 84, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 86, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 89, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 92, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 94, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 95, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 97, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 98, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 100, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 101, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 104, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 105, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 106, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 9, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background: url('/images/grid.png?1281901203');
}

/* line 22, ../../../app/stylesheets/partials/_page.sass */
body #page {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../../../app/stylesheets/partials/_page.sass */
body #page #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  padding-top: 30px;
}
/* line 139, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #page #header {
  overflow-x: hidden;
}
/* line 29, ../../../app/stylesheets/partials/_page.sass */
body #page #header h1 {
  color: #dddddd;
}
/* line 32, ../../../app/stylesheets/partials/_page.sass */
body #page #header #current_user_links {
  float: right;
  padding-bottom: 15px;
}
/* line 36, ../../../app/stylesheets/partials/_page.sass */
body #page #flash {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  height: 50px;
  line-height: 50px;
  padding-right: 40px;
  padding-left: 40px;
}
/* line 139, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #page #flash {
  overflow-x: hidden;
}
/* line 44, ../../../app/stylesheets/partials/_page.sass */
body #page #page_content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../vendor/bundle/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #page #page_content {
  overflow-x: hidden;
}

/* line 17, ../../../app/stylesheets/admin.sass */
body ul {
  list-style-type: 0;
  margin: 0;
  padding: 0;
}

/* line 89, ../../../app/stylesheets/admin.sass */
.sortable {
  list-style: none;
  line-height: 50px;
}
/* line 30, ../../../app/stylesheets/admin.sass */
.sortable .actions {
  float: right;
  margin: 0 10px;
  font-size: 70%;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -25px;
}
/* line 39, ../../../app/stylesheets/admin.sass */
.sortable .actions a {
  display: inline;
  padding: 0;
  padding-left: 5px;
}
/* line 44, ../../../app/stylesheets/admin.sass */
.sortable .actions a:hover {
  text-decoration: underline;
}
/* line 23, ../../../app/stylesheets/admin.sass */
.sortable img.head_image {
  position: relative;
  top: 10px;
  margin: 0 10px;
  margin-left: 35px;
}
/* line 70, ../../../app/stylesheets/admin.sass */
.sortable .sortable_item {
  position: relative;
  -moz-border-radius: 4px 4px 4px 4px;
}
/* line 74, ../../../app/stylesheets/admin.sass */
.sortable .sortable_item .ui-icon-arrowthick-2-n-s {
  width: 15px;
  height: 100%;
  float: left;
  left: 10px;
  position: relative;
  top: 17px;
  background-image: url("../stylesheets/ui-lightness/images/ui-icons_ef8c08_256x240.png");
  background-position: -128px -48px;
  height: 15px;
}

/* line 49, ../../../app/stylesheets/admin.sass */
.accordion .header {
  -moz-border-radius: 4px 4px 4px 4px;
  line-height: 50px;
  background: url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #f6f6f6;
  border: 1px solid #cccccc;
  color: #1c94c4;
  font-weight: bold;
}
/* line 30, ../../../app/stylesheets/admin.sass */
.accordion .actions {
  float: right;
  margin: 0 10px;
  font-size: 70%;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -25px;
}
/* line 39, ../../../app/stylesheets/admin.sass */
.accordion .actions a {
  display: inline;
  padding: 0;
  padding-left: 5px;
}
/* line 44, ../../../app/stylesheets/admin.sass */
.accordion .actions a:hover {
  text-decoration: underline;
}
/* line 23, ../../../app/stylesheets/admin.sass */
.accordion img.head_image {
  position: relative;
  top: 10px;
  margin: 0 10px;
  margin-left: 35px;
}

/* line 96, ../../../app/stylesheets/admin.sass */
#users .name {
  margin-left: 30px;
}

/* line 99, ../../../app/stylesheets/admin.sass */
form {
  margin: 0 20px;
}
/* line 102, ../../../app/stylesheets/admin.sass */
form h4 {
  margin: 10px 0;
  text-decoration: underline;
}
/* line 106, ../../../app/stylesheets/admin.sass */
form label {
  float: left;
  width: 200px;
  font-size: 80%;
}
/* line 111, ../../../app/stylesheets/admin.sass */
form textarea {
  height: 100px;
}
/* line 114, ../../../app/stylesheets/admin.sass */
form .form_line input,
form .form_line textarea {
  font-size: 70%;
  width: 500px;
}
