/* line 4, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: "AntiqueOlive";
  src: url('/fonts/AntiqueOliveStd-Light.eot');
  src: local("☺"), url('/fonts/AntiqueOliveStd-Light.ttf') format('truetype'), url('/fonts/AntiqueOliveStd-Light.otf') format('opentype');
}

/* line 12, ../../../app/stylesheets/application.sass */
body {
  font-family: AntiqueOlive, trebuchet MS, garuda, verdana, arial;
  color: #999999;
  font-size: 13px;
  line-height: 20px;
}

/* line 19, ../../../app/stylesheets/application.sass */
a, a:visited {
  color: #999999;
  text-decoration: none;
  outline: none;
}

/* line 24, ../../../app/stylesheets/application.sass */
ul {
  list-style: none;
}
/* line 11, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 27, ../../../app/stylesheets/application.sass */
img {
  border: none;
}

/*Layout */
/* line 41, ../../../app/stylesheets/application.sass */
#page {
  width: 1023px;
  position: absolute;
  height: 684px;
  border-right: 1px solid white;
}
/* line 33, ../../../app/stylesheets/application.sass */
#page h1 {
  margin-right: 23px;
}
/* line 35, ../../../app/stylesheets/application.sass */
#page #content {
  width: 1000px;
  margin-right: 23px;
}
/* line 48, ../../../app/stylesheets/application.sass */
#page h1 {
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  float: right;
  margin-top: 41px;
  font-weight: normal;
  letter-spacing: 2px;
}
/* line 57, ../../../app/stylesheets/application.sass */
#page h1 a.link_to_root, #page h1 a.link_to_root:visited {
  color: #990000;
}
/* line 60, ../../../app/stylesheets/application.sass */
#page h1 a.link_to_root:hover, #page h1 a.link_to_root:visited:hover {
  color: #999999;
}
/* line 63, ../../../app/stylesheets/application.sass */
#page #menu {
  text-transform: uppercase;
  float: left;
  position: relative;
  top: 0;
  left: 10px;
  min-height: 65px;
  z-index: 1000;
  font-size: 10px;
}
/* line 73, ../../../app/stylesheets/application.sass */
#page #menu h2 {
  border-top: 1px solid;
  font-size: inherit;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 0;
}
/* line 84, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list {
  margin-top: 40px;
  float: left;
  margin-left: -10px;
}
/* line 89, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list li.first_level {
  float: left;
  padding: 0 10px;
  background: white;
}
/* line 94, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list li.first_level a.first_level_link {
  float: left;
  height: 20px;
  line-height: 20px;
}
/* line 98, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list li.first_level a.first_level_link:hover {
  color: #990000;
}
/* line 101, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list li.first_level ul.sub_items {
  text-transform: none;
  float: left;
  clear: left;
  position: absolute;
  top: 60px;
  background: white;
  width: 100px;
}
/* line 110, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list li.first_level ul.sub_items li {
  float: left;
  clear: left;
}
/* line 114, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list li.first_level ul.sub_items li a {
  float: left;
  line-height: 20px;
}
/* line 118, ../../../app/stylesheets/application.sass */
#page #menu ul#main_menu_list li.first_level ul.sub_items li a:hover {
  color: #990000;
  margin-left: 2px;
}
/* line 122, ../../../app/stylesheets/application.sass */
#page #content {
  float: right;
  position: relative;
  margin-top: 36px;
  overflow: hidden;
}
/* line 129, ../../../app/stylesheets/application.sass */
#page #content #side_content {
  float: left;
  width: 200px;
  height: 533px;
}
/* line 134, ../../../app/stylesheets/application.sass */
#page #content #side_content .menu {
  margin-top: 200px;
  margin-right: 30px;
  padding-right: 20px;
  text-align: right;
  margin-left: 10px;
  padding-bottom: 30px;
  position: relative;
}
/* line 143, ../../../app/stylesheets/application.sass */
#page #content #side_content .menu h3 {
  margin: 0;
  padding: 0;
  color: #990000;
  font-size: inherit;
  font-weight: inherit;
}
/* line 150, ../../../app/stylesheets/application.sass */
#page #content #side_content .menu ul {
  padding: 10px 0;
}
/* line 153, ../../../app/stylesheets/application.sass */
#page #content #side_content .menu ul li {
  padding: 3px 0;
}
/* line 156, ../../../app/stylesheets/application.sass */
#page #content #side_content .menu .line {
  line-height: 2px;
  height: 2px;
  border-top: 1px solid;
}
/* line 162, ../../../app/stylesheets/application.sass */
#page #content #contact {
  color: #666666;
  font-size: 12px;
  float: right;
  width: 860px;
  margin-top: 50px;
}
/* line 164, ../../../app/stylesheets/application.sass */
#page #content #contact a, #page #content #contact a:visited {
  color: #666666;
}
/* line 166, ../../../app/stylesheets/application.sass */
#page #content #contact a:hover {
  color: #990000;
}
/* line 174, ../../../app/stylesheets/application.sass */
#page #content #contact h4 {
  text-transform: uppercase;
  color: #333333;
  position: relative;
  bottom: 5px;
}
/* line 179, ../../../app/stylesheets/application.sass */
#page #content #contact #links, #page #content #contact #contact_info, #page #content #contact label {
  line-height: 15px;
}
/* line 181, ../../../app/stylesheets/application.sass */
#page #content #contact td {
  padding-right: 20px;
  vertical-align: top;
  text-align: right;
  border-right: 1px solid grey;
}
/* line 187, ../../../app/stylesheets/application.sass */
#page #content #contact #copyright td {
  padding-top: 40px;
  text-align: center;
  border-right: none;
  padding-left: 20px;
}
/* line 194, ../../../app/stylesheets/application.sass */
#page #content #contact form h4 {
  margin-bottom: 15px;
}
/* line 196, ../../../app/stylesheets/application.sass */
#page #content #contact form label {
  margin-top: 10px;
  display: block;
}
/* line 199, ../../../app/stylesheets/application.sass */
#page #content #contact form label.error_field {
  color: #990000;
}
/* line 202, ../../../app/stylesheets/application.sass */
#page #content #contact form input, #page #content #contact form textarea {
  font-family: trebuchetMS, arial;
  font-size: 11px;
  width: 210px;
  border: none;
  background: #e5e1e1;
  padding: 2px 5px;
}
/* line 210, ../../../app/stylesheets/application.sass */
#page #content #contact form input.error_field, #page #content #contact form textarea.error_field {
  border: 2px solid #990000;
}
/* line 213, ../../../app/stylesheets/application.sass */
#page #content #contact form .flash {
  float: right;
  color: #990000;
  font-size: 0.8em;
  line-height: 43px;
}
/* line 219, ../../../app/stylesheets/application.sass */
#page #content #contact form #message_content {
  height: 130px;
}
/* line 222, ../../../app/stylesheets/application.sass */
#page #content #contact form #send_message {
  cursor: pointer;
  height: 33px;
  width: 43px;
  padding: 0px;
  position: relative;
  right: -5px;
  float: right;
  background: url('/images/mail.png?1282142397') right center no-repeat;
}
/* line 234, ../../../app/stylesheets/application.sass */
#page #content #contact_spacer {
  clear: both;
  width: 100%;
}
/* line 238, ../../../app/stylesheets/application.sass */
#page #content #main_content {
  float: right;
  width: 800px;
}
/* line 242, ../../../app/stylesheets/application.sass */
#page #content #main_content .vimeo_player {
  position: absolute;
  right: 0;
  z-index: 3;
}
/* line 246, ../../../app/stylesheets/application.sass */
#page #content #main_content .vimeo_player .ajax-loader {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 1000;
}
/* line 254, ../../../app/stylesheets/application.sass */
#page #content #main_content .vimeo_player .ajax-loader div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('/images/loader.gif?1281094873') center center no-repeat;
}
/* line 260, ../../../app/stylesheets/application.sass */
#page #content #main_content .category {
  float: right;
  margin-top: 100px;
}
/* line 264, ../../../app/stylesheets/application.sass */
#page #content #main_content .category img {
  float: right;
  margin-right: 40px;
  margin-top: 3px;
}
/* line 269, ../../../app/stylesheets/application.sass */
#page #content #main_content .category #category_description {
  text-align: justify;
  float: right;
  width: 500px;
}
/* line 274, ../../../app/stylesheets/application.sass */
#page #content #main_content .category a.category_pictures {
  display: block;
  margin-top: 10px;
  text-align: right;
}
/* line 279, ../../../app/stylesheets/application.sass */
#page #content #main_content .content {
  position: relative;
  float: right;
  margin-top: 50px;
}
/* line 284, ../../../app/stylesheets/application.sass */
#page #content #main_content .content .content_html {
  width: 390px;
  margin-left: 30px;
  float: right;
  text-align: justify;
}
/* line 292, ../../../app/stylesheets/application.sass */
#page #content #main_content #gallery {
  position: relative;
  height: 583px;
}
/* line 297, ../../../app/stylesheets/application.sass */
#page #footer {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
/* line 302, ../../../app/stylesheets/application.sass */
#page #footer .version_change, #page #footer .copyright {
  line-height: 15px;
}
/* line 304, ../../../app/stylesheets/application.sass */
#page #footer .version_change a, #page #footer .copyright a {
  font-size: 0.8em;
  line-height: 15px;
}
/* line 307, ../../../app/stylesheets/application.sass */
#page #footer .version_change a:hover, #page #footer .copyright a:hover {
  color: #990000;
}
/* line 311, ../../../app/stylesheets/application.sass */
#page #footer .social_icons {
  margin-top: 5px;
}
/* line 313, ../../../app/stylesheets/application.sass */
#page #footer .social_icons a {
  margin-right: 5px;
  float: left;
  height: 20px;
  width: 20px;
  line-height: 20px;
}
/* line 319, ../../../app/stylesheets/application.sass */
#page #footer .social_icons a.twitter {
  background: url('/images/tw_NB.png?1286405518') left top no-repeat;
}
/* line 321, ../../../app/stylesheets/application.sass */
#page #footer .social_icons a.twitter:hover {
  background-image: url('/images/twitter.png?1286487510');
}
/* line 323, ../../../app/stylesheets/application.sass */
#page #footer .social_icons a.facebook {
  background: url('/images/fb_NB.png?1286405518') left top no-repeat;
}
/* line 325, ../../../app/stylesheets/application.sass */
#page #footer .social_icons a.facebook:hover {
  background-image: url('/images/facebook.png?1286487508');
}
