= render :layout => '/layouts/content' do
  .videos
    = raw "<iframe src=\"http://player.vimeo.com/video/14531647\" width=\"667\" height=\"500\" frameborder=\"0\"></iframe>"
    -#= raw video.vimeo_player
