- if Rails.env == "development"
  = raw "<iframe class=\"vimeo_player\"  src=\"http://player.vimeo.com/video/14531647\" width=\"711\" height=\"533\" frameborder=\"0\"></iframe>"
- else
  = raw video.vimeo_player(:class=> "vimeo_player", :height => 533, :maxheight=>533, :maxwidth=>800)

