// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"

// To configure blueprint, edit the partials/base.sass file.
//@import "partials/base"

// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint"

// Combine the partials into a single screen stylesheet.
@import "partials/page"

//@import "partials/form"
//@import "partials/two_col"

$default_color: #3383BB
$title_color: #3383BB

//        background: image-url("../stylesheets/jquery/images/ui-bg_inset-hard_75_999999_1x100.png") repeat-x scroll left 20% #DDDDDD
//        border: 1px solid #CCCCCC

body

  #page


    @include container

    a
      outline: none

    ul
      list-style-type: 0
      margin: 0
      padding: 0


    h1
      font-family: AntiqueOlive, trebuchet MS, garuda,verdana, arial
      font-size: 23px
      line-height: 38px
      text-transform: uppercase
      float: right
      letter-spacing: 2px
      color: #999999
      margin-top: 20px

      span
        color: #990000

    #current_user_links
      float: right
      clear: both
      padding-bottom: $blueprint-grid-width / 2

    #flash
      @include column($blueprint-grid-columns - 2 )
      height: 50px
      line-height: 50px
      +append(1)
      +prepend(1)


    #page_content
      @include column($blueprint-grid-columns)

    #tabs

      background: none

      .ui-state-active
        background: white
        a
          color: black

      .ui-widget-content
        color: $default_color
        background: white

      .sortable
        +sortableList

      .accordion
        +accordion

      #users
        .name
          margin-left: 30px

      form
        +form

      .list_buttons
        text-align: right
        margin-bottom: 15px




