// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"

// To configure blueprint, edit the partials/base.sass file.
//@import "partials/base"

// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint"

// Combine the partials into a single screen stylesheet.
@import "partials/page"
@import "compass/css3/border-radius"
//@import "partials/form"
//@import "partials/two_col"

$default_color: #3383BB
$title_color: #3383BB

body

  #page
    @include container

    #header
      @include column($blueprint-grid-columns)
      padding-top: $blueprint-grid-width

      h1
        color: #DDDDDD

      #current_user_links
        float: right
        padding-bottom: $blueprint-grid-width / 2

    #flash
      @include column($blueprint-grid-columns - 2 )
      height: 50px
      line-height: 50px
      +append(1)
      +prepend(1)


    #page_content
      @include column($blueprint-grid-columns)

  
body ul
  list-style-type: 0
  margin: 0
  padding: 0



#tabs

  .ui-widget-content
    color: $default_color

  .sortable
    +sortableList

  .accordion
    +accordion

  #users
    .name
      margin-left: 30px

  form
    +form

  .list_buttons
    text-align: right
    margin-bottom: 15px




