%html
  %head
  %body
    %div
      Un visiteur vous a posté un message sur le site web :
    %ul(style="color:#999999")
      %li= @message.name
      %li= mail_to(@message.email,@message.email)
      %li= @message.phone

    %div
      = @message.content

