= labelled_form_for :category, @category, :url => { :action => :create}, :html => { :multipart => true, :class => 'edit_category' }, :remote => true do |form|

  %h4 Nouvelle séquence

  = render :partial => 'admin/categories/form', :object => form

  .buttons
    = link_to "Annuler", admin_categories_path(:type=>params[:type]), :class => 'cancel_new_category', :remote => true
    = form.submit "OK"     