%div[@category]

  #category_description
    = raw @category.description(params[:locale])
    = link_to "direct to slideshow", category_pictures_path(:category_id => @category), :remote => true, :class => "category_pictures"

  = image_tag @category.image.url(:large), :class=> "category_image"